<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>???</title>
    {{!-- <link rel="stylesheet" href="/public/css/main.css"> --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">    
</head>

<body>
<<<<<<< Updated upstream
    <header>
        This is header
    </header>
=======
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img class="bi me-2" aria-label="Bootstrap" width="140" height="45"
                     src="/public/images/logo-trans.png">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a href="/users" id="users" class="nav-link px-2 text-secondary">account</a></li>
                <li><a href="/userManage" id="userManage" class="nav-link px-2 text-secondary">user Management</a></li>
                <li><a href="/types/Action" id="Action" class="nav-link px-2 text-white">Action</a></li>
                <li><a href="/types/Horror" id="Horror" class="nav-link px-2 text-white">Horror</a></li>
                <li><a href="/types/Drama" id="Drama" class="nav-link px-2 text-white">Drama</a></li>
                <li><a href="/types/Comedy" id="Comedy" class="nav-link px-2 text-white">Comedy</a></li>
                <li><a href="/types/Sci-Fi" id="Sci-Fi" class="nav-link px-2 text-white">Sci-Fi</a></li>
                <li><a href="/types/Romance" id="Romance" class="nav-link px-2 text-white">Romance</a></li>
                <li><a href="/types/War" id="War" class="nav-link px-2 text-white">War</a></li>
            </ul>
>>>>>>> Stashed changes

    <main id="myMain">
        {{{body}}}
    </main>

    <footer>    
        This is footer
    </footer>


    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
    {{!-- {{> (lookup . 'partial') }} --}}
</body>

</html>