<section class="mt-5 text-center container">
    <div class="row">
        <div class="col-lg-6 col-md-2 mx-auto">
            <h1 class="fw-light">Search Item</h1>
            <p class="lead text-muted">found ? results</p>
            <p>selector </p>
            {{#each movie}}
                <li>
                    <a href="/movie/{{this._id}}">{{this.name}}</a>
                </li>
            {{/each}}
        </div>
    </div>
</section>
<div class="py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <!--single movie card-->
            <a href="#">
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="500"
                             src="/public/images/bg-1.jpg">

                        <div class="card-body">
                            <p class="card-text">Movie Title</p>
                        </div>
                    </div>
                </div>
            </a>

        </div>
    </div>
</div>