<h1>Home Page</h1>

<a href="/login" id = "login">Login</a>
</br>
<a href="/login2" id = "login2">Log in another account</a>
</br>
<a href="/signup">Sign Up</a>
</br>
<a href="/logout" id="logout">logout</a>
</br>
<a href="/users" id="users"> Account</a>
</br>
<a href="/userManage" id="users"> user Management</a>

<form action="/main" method="post" id="search_Form" class="search_Form">
    <label for="searchFormLable" id="searchFormLable">
        <input type="text" id="searchText_input" name="searchText_input">
    </label>
    <button id="submitSearch" type="submit">Search</button>
</form>

<div id="searchDiv">
    <ul>
        {{#each data}}
        <li>
            <a href="/show/{{this.show.id}}">{{this.show.name}}</a>
        </li>
        {{/each}}
    </ul>
</div>


</script>
