<h1>Home Page</h1>

<a href="/login" id = "login">Login</a>
</br>
<a href="/login2" id = "login2">Log in another account</a>
</br>
<a href="/signup">Sign Up</a>
</br>
<a href="/logout" id="logout">logout</a>
</br>
<a href="/users" id="users"> Account</a>
</br>
<a href="/userManage" id="users"> user Management</a>




</script>