<!doctype html>
<html lang="en">

<head>
    <title>Account Information</title>
    <meta charset="utf-8">
</head>

<body>
    <h2 class="heading-section">Account Information</h2>

    <p>{{userInfo}}</p>
    <p>{{user.account}}</p>
    <p>{{user.firstName}}</p>
    <p>{{user.lastName}}</p>
    {{!-- <form action="/users" method="post"> --}}
    <form id="updateInfo">
        {{!-- <input type="prepassword" placeholder="previous password" name="prepassword" id="prepassword" required> --}}
        <input type="password" placeholder="password" name="password" id="password" required>
        {{!-- <input type="confirmPw" placeholder="confirm new password" name="confirmPw" id="confirmPw" required> --}}
        <input type="firstName" placeholder="firstName" name="firstName" id="firstName">
        <input type="lastName" placeholder="lastName" name="lastName" id="lastName">
        <button type="submit">Submit</button>
    </form>
    </br>
    {{!-- <form action="/users/password" method="post"> --}}
    <form id="updatePassword">
        <input type="password" placeholder="previous password" name="prepassword" id="prepassword" required>
        <input type="password" placeholder="new password" name="newPassword" id="newPassword" required>
        <input type="password" placeholder="confirm new password" name="confirmPw" id="confirmPw" required>
        <button type="submit">Submit</button>
    </form>


    <a href="/home" id = "home">Home</a>
</body>

</html>