<!doctype html>
<html lang="en">

<head>
    <title>Account Information</title>
	<meta charset="utf-8">
</head>

<body>
<h2 class="heading-section">Account Information</h2>

<p>{{user.account}}</p>
<p>{{user.firstName}}</p>
<p>{{user.lastName}}</p>

</body>

</html>